<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
    <h2>SHARK2 Decoder</h2>
    <table width="50%">
        <tbody>
            <tr>
                <td>
                    <div id="divInfo">No gesture recognized</div>
                </td>
            </tr>
            <tr>
                <td>
                    <canvas id="cvsMain" style="background-image: url('static/qwerty.png'); width: 432px; height: 137px; background-repeat: no-repeat"></canvas>
                </td>
            </tr>

        </tbody>
    </table>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>